<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bob'sBurgers.ttf</string>
		<string>Bob'sBurgers2.ttf</string>
		<string>Banco.ttf</string>
		<string>CampusOtl.ttf</string>
	</array>
</dict>
</plist>
